{
  "rules": {
    "no-undef": "off",
    "react/prop-types": "off",
    "react-hooks/exhaustive-deps": "warn",
    "react/no-unescaped-entities": 0
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended"
  ],
  "plugins": ["react-hooks", "react"],
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
}
